* {
  font-family: system-ui;
  text-align: center;
  overflow: hidden; 
}


.backvideo{ 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  overflow: hidden;
  object-fit:fill;
  z-index: -1;
}

a {
  color: white;
  font-size: 1rem;
  margin-bottom: 5rem;
}

a:hover {
  color: rgb(37, 127, 205);
}

.screen {
  animation: 5s anim;
}

.screen{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@keyframes anim {
  0% {
      opacity: 0;
      transform: translateY(80%);
  }
  20% {
      opacity: 0;
  }
  50% {
      opacity: 1;
      transform: translateY(0%);
  }
  100% {
      opacity: 1;
      transform: translateY(0%);
  }
}

.register {
  padding-top: 0rem;
  margin-top: 0rem;
}

.registertext {
  text-align: center;
  padding-top: 0rem;
}

h1 {
  color: white;
  font-size: 4rem;
  margin-bottom: 2rem;
}

h4 {
  color: white;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.screen {
  width: 25rem;
  margin: auto;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}

input {
  margin-top: 1rem;
width: 23rem;
outline: none;
border-radius: 10px;
height: 3rem;
color: #302f2f;
}

input:hover {
box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

#button {
background-color: rgb(227, 231, 229);
margin-top: 1rem;
width: 20rem;
outline: none;
border-radius: 10px;
height: 2.5rem;
color: #302f2f;
}

#button:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: rgb(37, 127, 205);
}

@media (max-width: 768px) {
  .register {
  margin-top: 5rem;
  }
  .screen {
      width: 90%;
  }
  
  input {
      width: 90%;
  }
  
  #button {
      width: 80%;
  }
  
  }
  
  @media (max-width: 480px) {
  h1 {
  font-size: 2.5rem;
  }
  .register {
      margin-top: 2rem;
  }
  
  }