* {
  font-family: system-ui;
  text-align: center;
}

body {
  background-image: url("wallpaper.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  backface-visibility: visible;
  overflow: hidden;
  background-size: cover;
}

.screen {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

a {
  color: white;
  font-size: 1rem;
  margin-bottom: 5rem;
}

a:hover {
  color: rgb(37, 127, 205);
}

.screen {
  animation: 5s anim;
}
@keyframes anim {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.login {
  padding-top: 0;
  margin-top: 10rem;
}

.logintext {
  text-align: center;
  padding-top: 0rem;
}

h1 {
  color: white;
  font-size: 4rem;
  margin-bottom: 2rem;
}

h4 {
  color: white;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.screen {
  width: 25rem;
  margin: auto;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}

input {
  margin-top: 1rem;
  width: 23rem;
  outline: none;
  border-radius: 10px;
  height: 3rem;
  color: #302f2f;
}

input:hover {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

button {
  background-color: rgb(227, 231, 229);
  margin-top: 1rem;
  width: 20rem;
  outline: none;
  border-radius: 10px;
  height: 2.5rem;
  color: #302f2f;
}

button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: rgb(37, 127, 205);
}
